RIOT_API_KEY=votre_cle_api_ici
RIOT_CLIENT_ID=votre_client_id_ici
RIOT_CLIENT_SECRET=votre_client_secret_ici
NEXT_PUBLIC_APP_URL=https://spycam-tan.vercel.app/

# NextAuth
NEXTAUTH_SECRET=votre_secret_nextauth_ici
NEXTAUTH_URL=https://spycam-tan.vercel.app/

# Google OAuth (à configurer sur https://console.cloud.google.com/)
GOOGLE_CLIENT_ID=votre_client_id_google_ici
GOOGLE_CLIENT_SECRET=votre_client_secret_google_ici

# Neon Database (à configurer sur https://neon.tech/)
DATABASE_URL=votre_url_base_de_donnees_ici

# Cloudflare R2 Storage (Stockage Vidéos Privées & Sécurisées)
R2_ACCOUNT_ID=votre_account_id_cloudflare
R2_ACCESS_KEY_ID=votre_access_key_id_r2
R2_SECRET_ACCESS_KEY=votre_secret_access_key_r2
R2_BUCKET_NAME=spycam-videos

# Pusher Channels (Vocal WebRTC Temps Réel & Signalisation WebSocket)
NEXT_PUBLIC_PUSHER_KEY=votre_pusher_key_publique
NEXT_PUBLIC_PUSHER_CLUSTER=eu
PUSHER_APP_ID=votre_pusher_app_id
PUSHER_SECRET=votre_pusher_secret